body{
    background-color: rgb(227, 233, 176);
}
header{
    background-color: rgb(202, 194, 149);
    position: fixed;
    top: 0px;
    border-end-start-radius: 54px;
    border-bottom-right-radius: 820px;
    width: 100%;
    height: 7%;
    box-shadow: 25px 10px 15px rgb(80, 80, 129);
    
    display: inline-flex;
    justify-content: space-between;

}
h1{
    box-shadow: 15px 15px 25px;
    border-radius: 20px;
}
header img{
    width: 120px;
    height: 70px;
}
nav{
    display: inline-flex;
    gap: 20px;
    margin-right: 70px;
    margin-top: 15px;
}
nav div{
    background-color: rgb(231, 240, 151);
    color: rgb(65, 65, 119);
    font-size: 18px;
    font-style: oblique;
    
    border-radius: 20px;
    height: 40%;
    width: 70px;
    text-align: center;
}

main{
    margin-top: 100px;
}

/*=== My styling for the about section ====*/
.introSection{
    font-size: 35px;
    color: rgb(65, 65, 119);
    display: inline-flex;
    img{
        height: 600px;
    }
}


/*======= My Section with the cards for converting =====*/
#Card{
    background-color: rgb(211, 224, 136);
    color: rgb(65, 65, 119);
    box-shadow: 25px 25px 15px rgb(105, 105, 163);
    text-align: center;
    font-size: 29px;
    width: 700px;
    height: fit-content;
    margin-left: 2.5%;
    margin-bottom: 4%;
    border-radius: 20px;
}
#theButtons{
    display: inline-flex;
    button{
        background-color: rgb(221, 213, 165);
        color: rgb(65, 65, 119);
        border-radius: 5px;
        border-color: rgb(221, 213, 165);
        box-shadow: 15px 10px 25px;
        width: 150px;
        height: 42px;
        font-size: 20px;
    }
}
table{
    margin-left: 47px;
    td{
        text-align: start;
        font-size: 17px;
    }
    input{
        background-color: rgb(229, 231, 217);
        border-color: rgb(229, 231, 217);
        font-size: 20px;
        width: 150px;
        height: 30px;
        border-radius: 5px;
    }
    select{
        background-color: rgb(227, 233, 197);
        font-size: 17px;
        height: 36px;
        width: 250px;
        border-radius: 5px;
        border-color: rgb(227, 233, 197);
    }
    button{
        background-color: rgb(221, 213, 165);
        color: rgb(65, 65, 119);
        border-radius: 5px;
        border-color: rgb(221, 213, 165);
        box-shadow: 15px 10px 25px;
        width: 100%;
        height: 42px;
        margin-top: 7px;
        font-size: 20px;
    }
}
#table2, #table3{
    input, select{
        width: 350px;
    }

}
#table4{
    input{
        width: 100%;
    }
}

td button{
    margin-bottom: 35px;
}


.card{
    display: none;
}
.theOutcomeDisplayer{
    background-color: aliceblue;
    width: 60%;
    height: 50px;
    margin-left: 47px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: none;
    border-left-style: solid;
    border-left-color: rgb(155, 179, 111);
    border-left-width: 10px;

    border-top-style: solid;
    border-top-color: rgb(155, 179, 111);
    border-top-width: 10px;

    border-bottom-style: solid;
    border-bottom-color: rgb(155, 179, 111);
    border-bottom-width: 10px;
}

